.movieInfoWrapper {
  /* text-align: center; */
  margin-bottom: 25px;
  width: 250px;
  margin: 30px;
}

.rating {
  color: white;
}

.title {
  color: white;
}

.genres {
  margin-right: 10px;
  font-weight: 600;
  color: white;
}

.thumb {
  transition: 0.3s ease;
  border-radius: 15px;
  border: 6px solid rgb(182, 182, 182);
}
.thumb:hover {
  scale: 1.1;
}
